:root {
    --primary-color: #923036;
    --secondary-color: #048776;
    --tertiary-color: #EDE5CA;
    --quarternary-color: #FFE35B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: Palatino, URW Palladio L, serif;
    background-color: #048776;
}

/* HEADER STYLES START */
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: relative;
    border-bottom: 2px solid var(--primary-color);
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.75vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
}
/* HEADER STYLES END */

/* HERO STYLES START */
.hero {
    background-image: url(../images/mpls-church.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    background-attachment: static;
    background-position: 80%;
    height: 250px;
    border-bottom: 2px solid var(--primary-color);
    margin: 20px;
}

.hero h2 {
    font-weight: lighter;
    margin: 0;
    font-size: 17px;
    color: var(--primary-color);
    padding: 25px;
}
/* HERO STYLES END */

/* ABOUT ME STYLES BEGIN */
.section-container {
    display: flex;
}

.section-title {
    font-size: 40px;
    color: var(--tertiary-color);
    padding: 20px;
    margin: 0  35px auto;
    display: inline-block;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.bio-img {
    display: inline-block;
}

.section-container p {
    margin: 20px;
    font-size: 25px
}
/* ABOUT ME STYLES END */

/* MY WORK SECTION BEGINS */
.projects-grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.projects-grid-container {
    background: rgb(185, 185, 89);
    width: 60%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 4fr 2fr 2fr;
    color: var(--secondary-color);
    font-size: 1.2rem;
}

.projects-grid-item {
    padding: 25px 15px;
    width: 2fr;
    height: 3fr;
    border: 2px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box-1 {
    background-image: url(../images/run-buddy.jpeg);
    background-size: cover;
    background-position: center;
}

.projects-grid-item:hover .projects-grid-item::after {
    opacity: 1;
}

.projects-grid-item::after {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(252, 225, 56, 0.3), var(--secondary-color));
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}

.projects-grid-label {
    background: var(--tertiary-color);
    align-items: flex-end;
}