/* :root {
    --primary-color: #923036;
    --secondary-color: #048776;
    --tertiary-color: #EDE5CA;
    --quarternary-color: #FFE35B;
} */

.nav-wrapper {
    padding-left: 20px;
}

/* .hero {
    color: var(--primary-color);
    text-align: center;
} */

.about-me {
    padding: 20px 0;
    border-bottom: 2px solid #ff8f00;
}

.my-work {
    padding: 20px 0;
}